<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

<form action="lottery" method="post">
<div class="tab">
    <a href="signup">new User Registration</a>
    <a href="spin">spin the wheel</a>
    <a href="dash">Dashboard</a>
    <a href="win">Winner</a>
    <a href="lead">Leaderboard</a>

    <!-- <h3>you are successfully enrolled for lottery your lottery number ===></h3> -->
</div>
</form>
</body>

</html>